.redirect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    flex: 6;

    h5 {
      font-size: 2rem;
      margin-top: 5rem;
      text-align: center;
    }
  }
}
